<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open browser
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Browser</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="floating">URL :</ion-label>
    <ion-input [(ngModel)]="URL"></ion-input>
  </ion-item>
  <div class="center">
    <ion-button (click)="openBrowser()">Open</ion-button>
  </div>
 
</ion-content>
